# Lombok workaround: https://github.com/bazelbuild/bazel/issues/12837
build --nojava_header_compilation

build --java_toolchain=//toolchain:toolchain_java11
build --javabase=//toolchain:remote_jdk15
test --javabase=//toolchain:remote_jdk15
run --javabase=//toolchain:remote_jdk15
